* {
  font-family: "Lato", sans-serif;
}
button:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

// variables
$color-pink: #fc1281;

// common-css
.py-70px {
  padding-top: 70px;
  padding-bottom: 70px;
  @media (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media (max-width: 575px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.pink-vertical-bar {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 4px;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-pink;
  }
}

// sec-message-from-ceo start
.sec-message-from-ceo {
  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 100px;
  }

  .div-message-from-ceo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .ceo-img {
      flex-basis: 45%;
      max-width: 488px;
      overflow: hidden;
      border-radius: 65px;
      img {
        transition: 0.5s;
      }
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    .ceo-message {
      flex-basis: 50%;
      .message {
        line-height: 35px;
      }
      .ceo-name {
        font-size: 20px;
        span {
          padding-left: 40px;
          font-weight: bold;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            height: 4px;
            width: 30px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: #000;
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    h1 {
      font-size: 36px;
      margin-bottom: 70px;
    }
    .div-message-from-ceo {
      justify-content: center;
      .ceo-img {
        flex-basis: 100%;
        margin-bottom: 15px;
      }
      .ceo-message {
        flex-basis: 100%;
        .message {
          text-align: justify;
        }
        .ceo-name {
          font-size: 18px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 32px;
      margin-bottom: 60px;
    }
    .div-message-from-ceo .ceo-message .ceo-name {
      font-size: 16px;
    }
  }
  @media (max-width: 575px) {
    h1 {
      font-size: 30px;
      margin-bottom: 50px;
    }
  }
}
// sec-message-from-ceo end

// sec-our-team start
.sec-our-team {
  h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 100px;
  }

  .div-team-members,
  .div-team-members-carousel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .team-member {
      flex-basis: 19%;
      max-width: 198px;
      text-align: center;
      margin-bottom: 40px;

      .team-member-img {
        margin-bottom: 30px;
        overflow: hidden;
        border-radius: 12px;
        img {
          max-width: 100%;
          height: auto;
          transition: 0.5s;
        }
      }

      .team-member-details {
        .name {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 0;
        }
        .designation {
          font-weight: regular;
          color: #959595;
        }
      }
      &:hover {
        .team-member-img img {
          transform: scale(1.05);
        }
      }
    }
    .owl-item {
      .team-member {
        transition: 1s;
        transform: scale(0.25) !important;
        transition: 0.5s;
        .team-member-details {
          .name,
          .designation {
            visibility: hidden;
            height: 0;
          }
        }
      }
    }
    .owl-item.active.center {
      .team-member {
        transform: scale(1) !important;
        .team-member-img {
          margin-bottom: 10px;
        }
        .team-member-details {
          .name {
            visibility: visible;
            height: auto;
            line-height: 18px;
            margin-bottom: 5px;
          }
          .designation {
            visibility: visible;
            height: auto;
          }
        }
      }
    }
    .owl-dots,
    .owl-nav {
      text-align: center;
      -webkit-tap-highlight-color: transparent;
      margin-right: auto;
      margin-left: auto;
    }

    .owl-nav {
      margin-top: 10px;
    }

    .owl-nav [class*="owl-"] {
      color: #fff;
      font-size: 14px;
      margin: 5px;
      padding: 4px 7px;
      background: #d6d6d6;
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;
    }

    .owl-nav [class*="owl-"]:hover {
      background: #869791;
      color: #fff;
      text-decoration: none;
    }

    .owl-nav .disabled {
      opacity: 0.5;
      cursor: default;
    }

    .owl-nav.disabled + .owl-dots {
      margin-top: 10px;
    }

    .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1;
    }

    .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #d6d6d6;
      display: block;
      transition: opacity 0.2s ease;
      border-radius: 30px;
    }

    .owl-dots .owl-dot.active span {
      background: $color-pink;
    }
  }

  @media (max-width: 991px) {
    h2 {
      font-size: 36px;
      margin-bottom: 70px;
    }

    .div-team-members-carousel,
    .div-team-members {
      .team-member {
        flex-basis: 32%;
        margin-bottom: 40px;
        &:last-child {
          margin: 0 auto;
        }

        .team-member-img {
          margin-bottom: 10px;
        }
      }
    }
  }
  @media (max-width: 767px) and (min-width: 576px) {
    .div-team-members-carousel .team-member:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
  @media (max-width: 767px) {
    h2 {
      font-size: 32px;
      margin-bottom: 60px;
    }

    .div-team-members-carousel {
      .team-member {
        flex-basis: 49%;

        .team-member-details {
          .name {
            font-size: 16px;
          }
          .designation {
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width: 575px) {
    h2 {
      font-size: 30px;
      margin-bottom: 50px;
    }

    .div-team-members-carousel {
      .team-member {
        flex-basis: 100%;

        .team-member-img {
          margin-bottom: 15px;
        }

        .team-member-details {
          min-height: 60px;
          .name {
            font-size: 12px;
          }
          .designation {
            font-size: 10px;
          }
        }
      }
    }
  }
}
// sec-our-team end
